<div class="group relative inline-block">
    <button
        (click)="toggleDropdown()"
        class="flex items-center justify-center rounded-md px-5 py-2">
        <span class="customColorHeader font-semibold">
            {{ username }}
        </span>
        <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
    </button>
    <div
        *ngIf="dropdownOpen"
        class="absolute z-50 mt-2 w-48 divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <button
            (click)="onDashboardClick()"
            class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100">
            Dashboard
        </button>
        <button
            (click)="onLogoutClick()"
            class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100">
            Logout
        </button>
    </div>
</div>
